.organisation-admin-page-title {
    color: #7DA31A;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.organisation-admin-page-menu-container {
    background-color: #DEDDB3;
    border: 1px solid #758D5E;
    margin: 10px 0 0 0;
}

.organisation-admin-page-menu-header {
    text-align: center;
    background-color: #FFC076;
}

.organisation-admin-page-menu-item {
    width: 100%;
    background-color: inherit;
    border: 1px dotted lightgray;
    text-align: left;
}

    .organisation-admin-page-menu-item:hover {
        background-color: #FDD586;
        outline: 1px dotted #758D5E;
    }

    .organisation-admin-page-menu-item:disabled {
        color: white;
    }

.radio-button-container {
    /*padding: 5px 10% 5px 10%;*/
}

.radio-button {
    margin: 0 2% 0;
}

.radio-button-element {
    width: 100%;
    padding: 2px 4%;
}

    .radio-button-element:hover {
        background-color: #FDD586;
        outline: 1px dotted #758D5E;
    }

.pdf-help {
    max-height: 75px;
    max-width: 90px;
    margin: 10px 0;
}

.standard-grid {
    height: 800px;
    width: 100%;
}


.short-grid {
    height: 200px;
    width: 100%;
}

.medium-grid {
    height: 500px;
    width: 100%;
}

.our-members-modal {
    -webkit-box-shadow: 0 0 40px 0 black;
    -moz-box-shadow: 0 0 40px 0 black;
    box-shadow: 0 0 40px 0 black;
    border: 1px solid black;
    position: absolute;
    left: 5%;
    top: 10px;
    z-index: 1;
    width: 90%;
    background-color: #EBFFC6;
}


.modalSolsof {
    /*opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;*/
    display: none;
    position: absolute;
    /*position: fixed;*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    /*height: 100%;*/
    /*height: 100vh;*/
    /*min-height: 100vh;*/
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-box-shadow: 0 0 40px 0 black inset;
    -moz-box-shadow: 0 0 40px 0 black inset;
    box-shadow: 0 0 40px 0 black inset;
}

.modalSolsof200 {
    z-index: 200;
}

.modalSolsof300 {
    z-index: 300;
}

.modalSolsofVisible {
    display: block;
}

.modalSolsofEnabled {
    display: block;
}

.modal-contentSolsof {
    background-color: white;
    margin: 20px auto 0 auto;
    padding: 20px;
    border: 1px solid darkgrey;
    width: 90%;
    /*min-width: 300px;*/
    box-shadow: 0 0 50px black;
    /*overflow: auto;*/
    /*max-height: 100vh;*/
}

.modalSolsof100 {
    z-index: 100;
}

.modalSolsof1000 {
    z-index: 1000;
}

.modalSolsof-wide {
    width: 60%;
    min-width: 300px;
}

.modalSolsof-very-narrow {
    width: 20%;
    min-width: 300px;
}

.modalSolsof-narrow {
    width: 40%;
    min-width: 300px;
}
