.organisation-admin-page-title {
    color: #7DA31A;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.organisation-admin-page-menu-container {
    background-color: #DEDDB3;
    border: 1px solid #758D5E;
    margin: 10px 0 0 0;
}

.organisation-admin-page-menu-header {
    text-align: center;
    background-color: #FFC076;
}

.organisation-admin-page-menu-item {
    width: 100%;
    background-color: inherit;
    border: 1px dotted lightgray;
    text-align: left;
}

    .organisation-admin-page-menu-item:hover {
        background-color: #FDD586;
        outline: 1px dotted #758D5E;
    }

.radio-button-container {
    /*padding: 5px 10% 5px 10%;*/
}

.radio-button {
    margin: 0 2% 0;
}

.radio-button-element {
    width: 100%;
    padding: 2px 4%;
}

    .radio-button-element:hover {
        background-color: #FDD586;
        outline: 1px dotted #758D5E;
    }

.pdf-help {
    max-height: 75px;
    max-width: 90px;
    margin: 10px 0;
}

.standard-grid {
    height: 800px;
    width: 100%;
}


.short-grid {
    height: 200px;
    width: 100%;
}

.medium-grid {
    height: 500px;
    width: 100%;
}

.our-members-modal {
    -webkit-box-shadow: 0 0 40px 0 black;
    -moz-box-shadow: 0 0 40px 0 black;
    box-shadow: 0 0 40px 0 black;
    border: 1px solid black;
    position: absolute;
    left: 5%;
    top: 10px;
    /*bottom: 10px;*/
    z-index: 1;
    width: 90%;
    background-color: #EBFFC6;
}
