.mobile-image {
    width: 10%;
    float: left;
    margin: 2%;
}

.contact-us-button {
    background-color: #393939;
    font-size: 12pt;
    Color: Orange;
    border: none;
    padding: 10px 2%;
    margin: 20px 10% 10px;
}

    .contact-us-button:hover {
        background-color: Gray;
    }


.work-for-you-container {
    border: 7px solid #7da31a;
    background-color: #bbdb88;
    margin-top: 10px;
    /*padding-top: 5px 2% 5px;*/
}

.work-for-you {
    background: #7da31a;
    padding: 5px 10%;
    color: #ffffff;
    font-size: 14pt;
    font-weight: bold;
}
