.subscription-image {
    float: right;
    width: 30%;
}

.subscription-intro {
    margin-top: 10px;
    font-weight: bold;
}

.three-months-container {
    border: 7px solid #7da31a;
    background-color: #bbdb88;
    margin-bottom: 10px;
}

.three-months-header {
    background-color: #7da31a;
    padding-left: 20px;
    color: White;
    font-weight: 700;
    font-size: 21.0px;
    line-height: 1.19em;
}

.three-months-image {
    width: 10%;
    float: right;
    margin: 10px 2% 0 2%;
}

.three-months-text {
    padding-left: 20px;
    padding-top: 10px;
}
