.easy-to-use-image {
    width: 20%;
    float: right;
    margin: 2%;
}

.casual-meeting-image {
    width: 30%;
    float: right;
    margin: 2%;
}

.Heading-3-C {
    color: #f1a629;
    font-size: 19.0px;
    line-height: 1.22em;
    font-weight: bold;
}

.three-months-heading {
    background-color: #7da31a;
    color: White;
    font-weight: bold;
    font-size: 18pt;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.three-months-background {
    background-color: #bbdb88;
    width: 100%;
    color: #003399;
    padding-left: 10px;
    padding-top: 10px;
}
