.reminders-image {
    float: right;
    margin: 6px;
    width: 15%;
}

.test-drive {
    border: 5px solid #dc9000;
    background-color: #facd8a;
}



.test-drive-text {
    line-height: 1.19em;
    font-weight: 700;
    font-size: 21.0px;
    padding: 10px 2%;
    color: White;
    padding-left: 10px;
    background-color: #dc9000;
}

.reminers-test-drive-button {
    width: 40%;
    margin-bottom: 10px;
}

.test-drive-text-content {
padding: 10px 2%;
}