.link {
    font-size: 12pt;
    color: #FF6600;
}

.test-drive-border {
    border: 7px solid #DC9000;
    background-color: #fde2b8;
    margin-top: 50px;
}

.test-drive-header {
    background-color: #DC9000;
    padding-left: 20px;
    color: White;
    font-size: 16pt;
}

.test-drive-text {
    padding: 10px;
}