.terms {
    color: #7DA31A;
    text-decoration: underline;
    font-size: large;
}

.register-button {
    margin-top: 20px;
    padding: 10px 4%;
    color: White;
    background-color: #7DA31A;
    font-size: larger;
    border: none;
}


    .register-button:hover {
        background-color: #B0DE00;
    }

.create-organisation-title {
    background-color: #bdba00;
    color: White;
    font-size: 18pt;
    text-align: center;
}

.create-organisation-form {
    background-color: #393939;
    color: white;
    padding: 10px 2%;
    margin-bottom: 20px;
}

.font-size-large {
    font-size: 16pt;
}