
button:focus {
    outline: 1px solid olive;
}

.subhead {
    color: White;
    font-size: 13.5pt;
    background: #bdba00;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-us-button {
    background-color: #393939;
    Color: Orange;
    font-size: 12pt;
    border: 6px solid #bdba00;
    padding: 10px;
    margin: 20px 4%;
}

.about-us-help-image {
    width: 20%;
    float: right;
    margin: 20px 4%;
}

.test-drive-image {
    width: 20%;
    float: right;
    margin: 10px;
}

.form-label {
    text-align: right;
}


@media only screen and (max-width: 768px) {
    .form-label {
        text-align: left;
    }
}

