.header-button, .header-login-button {
    width: 90%;
    margin-left: 5%;
    color: white;
    background-color: #7DA31A;
    border: none;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .header-button:hover {
        background-color: #B0DE00;
    }

    .header-login-button {
    background-color: #DC9000;
}

    .header-login-button:hover {
        background-color: #FF6600;
    }

    @media only screen and (max-width: 1024px) {
    .header-button, .header-login-button {
        min-height: 50px;
    }

    @media only screen and (max-width: 768px) {
    .header-button, .header-login-button {
        min-height: 0;
    }
}
